<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="csv file test">
    <test name="csv tests" parallel="instances" group-by-instances="true" thread-count="10">
        <classes>
            <class name="tests.FoodFileTest"></class>
        </classes>
    </test>
</suite>